.navbar {
  display: flex;
  background-color: #bb86fc;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
.logo {
  align-items: center;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.search {
  display: flex;
  align-items: center;
}
.navbar h1,
.navbar a {
  color: #1e1e1e;
}
.navbar h1 {
  font-style: italic;
}
.navbar a {
  text-decoration: none;
  color: #1e1e1e;
}
.navbar a:hover {
  text-decoration: none;
  color: #fff;
}
.logout-button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1e1e1e;
  color: #fff;
}
.logout-button:hover {
  background-color: #fff;
  color: #bb86fc;
  transform: translateY(-3px);
}
a:hover {
  transform: translateY(-2px);
}
